style.
  .pull-left {
    font-weight:300;
    font-size:19px;
  }

footer
  .container.text-center
    p.pull-left © 2021 #{brandName} &nbsp

    if displayEmail && linkEmail != ''
        a.pull-left(style="color:#aaa;margin-right:10px;text-decoration:underline;" href=linkEmail target="_blank") Email

    if displayPaypal && linkPaypal != ''
        a.pull-left(style="color:#aaa;margin-right:10px;text-decoration:underline;" href=linkPaypal target="_blank") PayPal

    if displayTwitter && linkTwitter != ''
        a.pull-left(style="color:#aaa;margin-right:10px;text-decoration:underline;" href=linkTwitter target="_blank") Twitter

    if displayFacebook && linkFacebook != ''
        a.pull-left(style="color:#aaa;margin-right:10px;text-decoration:underline;" href=linkFacebook target="_blank") Facebook

    if displayDiscord && linkDiscord != ''
        a.pull-left(style="color:#aaa;margin-right:10px;text-decoration:underline;" href=linkDiscord target="_blank") Discord
    
    if displayGithub && linkGithub != ''
        a.pull-left(style="color:#aaa;margin-right:10px;text-decoration:underline;" href=linkGithub target="_blank") GitHub

    if displayRiot && linkRiot != ''
        a.pull-left(style="color:#aaa;margin-right:10px;text-decoration:underline;" href=linkRiot target="_blank") Riot.im

    if displayReddit && linkReddit != ''
        a.pull-left(style="color:#aaa;margin-right:10px;text-decoration:underline;" href=linkReddit target="_blank") Reddit

    if displayFosstodon && linkFosstodon != ''
        a.pull-left(style="color:#aaa;margin-right:10px;text-decoration:underline;" href=linkFosstodon target="_blank") Fosstodon

    //a.pull-left(style="color:#aaa;margin-right:10px;text-decoration:underline;")
    //  button(onclick="toggleDarkLight()" class="link-button" id="dark-mode-button" style="") [Dark Mode]

    a.pull-left(style="color:#aaa;margin-right:10px;" href="/termsofservice") Terms Of Service

if 1==1
  script.
    if (document.getElementById("body").className == "dark-mode") {
      document.getElementById("dark-mode-button").innerHTML = "[Light Mode]"
    }
